<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Госуслуги Татарстан</title>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container-fluid text-center">-->
<!--    <h1>Госуслуги Татарстан</h1>-->
<!--    <a class="h2" th:href="@{/users}">Редактирование пользователей</a>-->
<!--    <div>-->
<!--        <a class="h2" th:href="@{/users/new}">Авторизация</a>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->