<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Госуслуги Татарстан</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div>
        <h1>Госуслуги Татарстан</h1>
    </div>
    <div>
        <h3><a th:href="@{/list_users}">Список всех пользователей</a></h3>
        <h3><a th:href="@{/register}">Регистрация</a></h3>
        <h3><a th:href="@{/login}">Войти</a></h3>
    </div>

</div>
</body>
</html>