<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Успешная регистрация</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div>
        <h3>Вы успешно зарестрировались!</h3>
        <h4><a th:href="@{/login}">Войти</a></h4>
    </div>

</div>
</body>
</html>