<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация Госуслуги Татарстан</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div>
        <h1>Регистрация и Авторизация пользователя</h1>
    </div>
    <form th:action="@{/process_register}" method="post" style="max-width: 600px; margin: 0 auto;" th:object="${user}">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">E-mail:</label>
                <div class="col-sm-8">
                    <input type="email" th:field="*{email}" class="form-control" required minlength="8" maxlength="45">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Пароль:</label>
                <div class="col-sm-8">
                    <input type="password" th:field="*{password}" class="form-control" required minlength="8"
                           maxlength="45">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Имя:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{firstName}" class="form-control" required minlength="2"
                           maxlength="45">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Фамилия:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{lastName}" class="form-control" required minlength="2"
                           maxlength="45">
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </div>
        </div>
    </form>
    <div>

    </div>

</div>
</body>
</html>